body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.links p:hover{
  color : rgb(2, 149, 2);
}

.nav-container{
  background: rgba(0,0,0.0.8);
  backdrop-filter: blur(10px);
}
.nav-container p{
  margin-bottom: 4px;
  width: 100%;
  border-bottom: 1px solid white;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#2cf67c 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,#2cf67c);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}

.forLogin{
  background-image: url('https://res.cloudinary.com/daamrpzus/image/upload/v1698322685/BlogAppAssets/zaorfz4driuyq29mjfle.jpg');
  object-fit: contain;
  background-size: cover;
  background-position-y: center center;
  
}
.containerforLogin{
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,0.2);
}
.containerforLogin input{
  display: block;
  padding-right: 50px;
    height: 50px;
    width: 250px;
    /* background-color: rgba(255,255,255,0.09); */
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    /* color: rgb(34, 185, 57); */
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 500;
}

input::placeholder{
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    font-style: 700;
}
